@font-face {
    font-family: mplus-2p-thin;
    src: url("/css/mplus-2p-thin-056.ttf");
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: 1em mplus-2p-thin,Helvetica,arial,freesans,clean,sans-serif;
}

body {
    background: #202020;
    overflow-x: hidden;
    line-height: 0;
    color: #eee;
}

.out-boundary {
    fill: #303030;
    stroke: #c0c0c0;
    stroke-width: 1;
    stroke-linejoin: round;
}

.in-boundary {
    fill: none;
    stroke: #505050;
    stroke-width: 1.5;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
}

.station {
    fill: #4986bc;
}

#position {
    fill: #3aff3a;
}

#display {
    position: relative;
}

#field {
    position: absolute;
    top: 0;
    left: 0;
}

#details {
    position: absolute;
    bottom: 5%;
    left: 2%;
}

#about {
    position: absolute;
    left: 2%;
}

h1, h2 {
    font-size: 2.5em;
}

p, span {
    font-size: 1.2em;
}

a, .text-button {
    color: #888;
}

a:hover, a:focus {
    color: #fff;
    transition: color 125ms ease-in;
    -webkit-transition: color 125ms ease-in;
}

.no-touch .text-button:hover, .no-touch .text-button:focus {
    color: #fff;
    transition: color 125ms ease-in;
    -webkit-transition: color 125ms ease-in;
    cursor: default;
}

.text-button:active {
    color: #fff;
    transition: color 25ms ease-in;
    -webkit-transition: color 25ms ease-in;
}
